/* Parent Header Container */

.header-main{
    height: 13vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: #C9F4AA;
}

/* Navbar items container inside the parent container */
.navbar-container{
    width: 98%;
    padding: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Items Container: Display Grid */
.nav-items-container{
    width: 98%;
    margin: 0.3em;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 4fr 1fr 2fr;
    gap: 0.3em;
}

/* Navbar Left Side Items */
.navbar-left-items{
    display: flex;
    align-items: center;
    font-size: 1.22em;
    padding: 0.3em;
}

.navbar-left-items a{
    /* border: 1px solid red; */
    margin: 0.4em 0.4em 0.2em 0.4em; 
    padding: 0.4em;
    text-decoration: none;
    color: #1572A1;  /* Navbar Font Color */
    display: inline-block;
}

/* left navbar on hover transition */
.nav-left-single-item a::after{
    content: ' ';
    display: block;
    transform: scaleX(0);
    margin: 0.1em;
    border-bottom: 0.1em solid #1572A1;
    transition: transform 0.2s ease-in-out;
    transform-origin: center; 
}
.nav-left-single-item a:hover::after{
    transform: scaleX(1);
}

/* Navbar Center Logo Section */
.navbar-logo{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
}

.navbar-logo img{
    height: 11vh;
}

/* Navbar Right Side Items */
.navbar-right-items{
    /* border: 1px solid skyblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em;
    padding-right: 1.5em;
}

.navbar-right-items a{
    padding: 0.4em;
    margin: 0.4em;
    text-decoration: none;
    display: inline-block;
    color: #1572A1;
}

/* Developer item CSS */
.nav-right-developer{
    font-size: 1.22em;
}

/* Developer On hover Transition */
.nav-right-developer a::after{
    content: ' ';
    display: block;
    transform: scaleX(0);
    margin: 0.1em;
    border-bottom: 0.1em solid #1572A1;
    transition: transform 0.2s ease-in-out;
    transform-origin: center; 
}
.nav-right-developer a:hover::after{
    transform: scaleX(1);
}

/* Sign In CSS */
.nav-right-signin{
    font-size: 1.22em; 
    padding: 0.3em;
    margin-bottom: 0.2em;
}

.nav-right-signin a{
    color: #000;
    background-color: #FDFFBC;
    border-radius: 0.3em;
    padding: 0.5em;
    margin: 0.1em;
    font-weight: 500;
}

.nav-right-signin a:hover{
    background-color: #FDD998;
    color: #000;
}

/* Active link */
/* .active{
    border-bottom: 0.1em solid #ffffff;
} */

/* .nav-left-single-item a:active{
    border-bottom: 0.1em solid #ffffff;
} */
