.modal {
  width: 28em;
  margin: auto;
  margin-top: 5em;
  background: #BCCEF8;
  border-radius: 1em;
  padding-top: 2em;
}

.outer-box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 16vh;
  background-color: #B8E8FC;
}

.heading {
  text-align: center;
  margin: 0.5em;
  color: black;
  font-size: 2em;
  font-weight: 700;
}

.instruction {
  text-align: center;
  margin: 0.5em 2em;
  color: black;
}

.send-btn {
  display: flex;
  align-items: center;
  padding: 1.25em;
}

.upgrade-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 13.5em;
  height: 2.5em;
  background: #FDFFBC;
  border-radius: 0.5em;
  border: 0;
  color: black;
  font-size: 1em;
  margin: auto;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upgrade-btn:hover {
  background-color: #FDD998;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  margin: 0 1.25em;
}

.field {
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: 0.5em;
  padding: 0.6em;
  background-color: #C9F4AA;
  margin: 0.625em 0;
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  color: black;
}

.input-field {
  background: none;
  width: 100%;
  color: black;
  border: none;
  outline: none;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .modal {
      width: 90%;
      margin-top: 3em;
  }

  .instruction {
      margin: 0.5em;
  }

  .field {
      margin: 0.5em 0;
  }
}
