.outer-box {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 16vh;
    background-color: #B8E8FC;
}

.img {
    text-align: center;
}

.upper-image {
    width: 80vw;
}

.abc {
    display: flex;
    color: black;
    text-align: center;
    font-size: 1.05vw;
    margin: auto;
    width: 50vw;
    padding: 2vw;
}

.numbers {
    color: black;
    font-size: 3.125vw;
    font-weight: 600;
}

/* .text {
    padding: .2em;
} */

.s-abc{
    padding: 1.05vw;
}

.group {
    padding-bottom: 2em;
}

.card {
    max-width: 320px;
    border-radius: 1rem;
    background-color: #BCCEF8;
    padding: 1rem;
    margin: auto;
    width: 50%;
}

.infos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    grid-gap: 1rem;
    gap: 1rem;
}

.image {
    height: 7rem;
    width: 7rem;
    border-radius: 0.5rem;
    background-color: rgb(118, 36, 194);
    background: linear-gradient(to bottom right, rgb(118, 36, 194), rgb(185, 128, 240));
}

.info {
    height: 7rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    font-size: 1.15rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: black;
}

.function {
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
}

.stats {
    width: 100%;
    border-radius: 0.5rem;
    background-color: #C9F4AA;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(0, 0, 0, 1);
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4px;
}

.state-value {
    font-weight: 700;
    color: black;
}

.request {
    margin-top: 1.5rem;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: all .3s ease;
    background-color: #FDFFBC;
}

.request:hover {
    background-color: #FDD998;
    color: black;
}

.footer{
    height: 7em;
    background-color: #C9F4AA;
}

.footer-upper-text{
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding: .6em;
}

.footer-lower-text{
    color: black;
    text-align: center;

}