.outer-box{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    padding-top: 16vh;
    background-color: #B8E8FC;
  }
  
  .modal {
    width: 28em;
    margin: auto;
    margin-top: 5em;
    background: #BCCEF8;
    border-radius: 1em;
    padding-top: 2em;
  }
  
  .heading {
    text-align: center;
    margin: .5em;
    font-weight: 700;
    font-size: 2em;
    color: black;
  }
  
  .instruction{
    text-align: center;
    margin: .5em 2em;
    color: black;
  }
  
  .login-btn {
    display: flex;
    align-items: center;
    padding: 1.25em;
  }
  
  .upgrade-btn {
    justify-content: center;
    align-items: center;
    width: 13.5em;
    height: 2.5em;
    background: #FDFFBC;
    border-radius: .5em;
    border: 0;
    color: black;
    font-size: 1em;
    margin: auto;
  }
  
  .upgrade-btn:hover {
    background-color: #FDD998;
    cursor: pointer;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: .625em;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: .5em;
    padding: 0.6em;
    background-color: #C9F4AA;
    margin: .625em 1.25em 0em 1.25em;
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    color: black
  }
  
  .input-field {
    background: none;
    width: 100%;
    color: black;
    border: none;
    outline: none;
  }
  
  