.signin-main{
    padding-top: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B8E8FC;
    min-height: 100vh;    
}
.outer-box{
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    /* margin-top: 5em; */
    /* padding-bottom: 10vh; */
  }

.modal {
    width: 32em;
    margin: auto;
    background: #BCCEF8;
    border-radius: 1em;
    padding-top: 2em;
}

.signup-btn {
    display: flex;
    align-items: center;
    padding: 1.25em;
}

.upgrade-btn {
    justify-content: center;
    align-items: center;
    width: 13.5em;
    height: 2.5em;
    background: #FDFFBC;
    border-radius: .5em;
    border: 0;
    color: black;
    font-size: 1em;
    margin: auto;
}

.upgrade-btn:hover {
    background-color: #FDD998;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .625em;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: .5em;
    padding: 0.6em;
    background-color: #C9F4AA;
    margin: .625em 1.25em 0em 1.25em;
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    color: black
}

.input-field {
    background: none;
    width: 100%;
    color: black;
    border: none;
    outline: none;
}

.seperator {
    width: calc(100%-1.25em);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: .125em;
    color: black;
    margin: 0.625em .625em;
}

.seperator .line {
    display: inline-block;
    width: 100%;
    height: .07em;
    border: 0;
    background-color: black;
    margin: auto;
}

.seperator>p {
    word-break: keep-all;
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 1em;
    margin: auto;
    color: black;
}

button {
    max-width: 20em;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: none;
    gap: 0.75rem;
    color: black;
    background-color: #FDFFBC;
    cursor: pointer;
    transition: all .6s ease;
    margin-right: .5em;
    margin-left: .5em;
}

.button svg {
    height: 1.5em;
}

button:hover {
    transform: scale(1.02);
    background-color: #FDD998;
    cursor: pointer;
}

.top-buttons {
    display: flex;
    margin: auto ;
}



.tab-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    padding: .125em;
    background-color: #FDFFBC;
    border-radius: .57em;
    margin: .625em 1.25em 0 20px;
  }
  
  .indicator {
    width: 50%;
    height: 2.5em;
    background: #FDD998;
    position: absolute;
    border-radius: .5em;
    transition: all 0.2s ease-out;
  }
  
  .tab {
    /* width: 40%; */
    height: 2.5em;
    position: relative;
    z-index: 99;
    background-color: transparent;
    border: 0;
    outline: none;
    flex: none;
    align-self: stretch;
    flex-grow: 1;
    cursor: pointer;
    font-weight: 500;
    color: black;
    font-size: 1em;
  }
  
  .tab--1:hover ~ .indicator {
    left: .125em;
    background-color: #FDD998;
  }
  
  .tab--2:hover ~ .indicator {
    left: calc(50% - .125em);
    background-color: #FDD998;
  }
  