
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

span{
	color: black;
}

.signin-singup-outer-box{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 16vh;
    /* background-color: #B8E8FC; */
	/* background: #f6f5f7; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	/* margin: -20px 0 50px; */
}

.signin-singup-outer-box h1 {
	font-weight: bold;
	margin: 0;
}

.signin-singup-outer-box h2 {
	text-align: center;
}

.signin-singup-outer-box p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.signin-singup-outer-box span {
	font-size: 12px;
}

.signin-singup-outer-box a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.signin-singup-outer-box button {
	border-radius: 5px;
	border: none;
	background-color: #0288D1;
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.signin-singup-outer-box button:active {
	transform: scale(0.95);
}

.signin-singup-outer-box button:focus {
	outline: none;
}

.signin-singup-outer-box button.ghost {
	background-color: #FDFFBC;
	border-radius: 5px;
	border: none;
	color: black;
}

button.ghost:hover{
	background-color: #FDD998;
}

.signin-singup-outer-box .form {
	background-color: #FDFFBC;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.signin-singup-outer-box input {
	background-color: #C9F4AA;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.signin-singup-outer-box .container {
	background-color: #FDFFBC;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.signin-singup-outer-box .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.signin-singup-outer-box .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.signin-singup-outer-box .container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.signin-singup-outer-box .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.signin-singup-outer-box .container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.signin-singup-outer-box .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.signin-singup-outer-box .container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.signin-singup-outer-box .overlay {
	background: #C9F4AA;
	/* background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: black;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.signin-singup-outer-box .container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.signin-singup-outer-box .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.signin-singup-outer-box .overlay-left {
	transform: translateX(-20%);
}

.signin-singup-outer-box .container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.signin-singup-outer-box .overlay-right {
	right: 0;
	transform: translateX(0);
}

.signin-singup-outer-box .container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.signin-singup-outer-box .social-container {
	margin: 20px 0;
}

.signin-singup-outer-box .social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
.password-req{
	color: #000;
}