.discussion-main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Section 1 Starts here */
.discussion-section-1-container {
    min-height: 100vh;
    /* padding-top: 13vh; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Inter';
}

.discussion-section-1-container h2 {
    margin: 0.6em 0.4em 0 0.4em;
    padding: 0.5em;
    font-size: 1.5em;
    font-weight: 500;
    /* letter-spacing: 0.6px; */
}

.live-single-discuss-container {
    margin: 0.5em;
    padding: 1em 3em;
    /* border: 1px solid red; */
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.4em;
}

.live-discussion-description {
    width: 30vw;
    height: 10vh;
    margin: 0 2em;
    padding: 0.5em;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    align-self: flex-start;
}

.live-discussion-description a {
    text-decoration: none;
}
.live-discussion-description .fix-width{
    width: 120%;
}
.live-discussion-description button{
    padding: 3px 10px;
    border-radius: 2px;
    border: none;
    margin: 2em;
}
.live-discussion-description h3 {
    font-size: 1.3em;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.live-discussion-description h3::after {
    content: ' ';
    display: block;
    transform: scaleX(0);
    margin: 0.1em;
    border-bottom: 0.1em solid #fff;
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
}

.live-discussion-description h3:hover::after {
    transform: scaleX(1);
}

.live-discussion-image {
    /* margin-left: 6vw; */
    width: 45%;
    height: 60vh;
    margin: 0 2em;
    padding: 0.5em;
}

.live-single-discuss-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.4em;
    cursor: pointer;
    
}

.discussion-section-2-container{
    margin: 2em 5em;
}
.singlediscuss{
    padding: 1em;
}
.title-one1{
    /* width: 100%; */
    display: grid;
    grid-template-columns:repeat(2,1fr);
}
.title-one1 p{
    width: max-content;
    margin: 0em 2em ;
}
.ask-discussion{
    margin: 0em 10em;
}
.discussion-main button{
    padding: 4px 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    background-color: #0288D1;
}

.singlediscuss h3{
    color: #fff;
}