/* page.js CSS (Achievers Main Page) */
.achievers-main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    /* padding-top: 13vh; */
    background-color: #999;
}

/* .achievers-section-1-container {
    font-size: 3em;
    text-align: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
} */

/* Single Achiever CSS starts Here */
.achiever-single-story-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Inter', sans-serif;
    /* background-color: #B8E8FC; */
}

.single-story-container {
    height: 82vh;
    width: 100%;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-color: #11161A;
    /* background-color: #D2DAFF; */
    border-radius: 0.3em;
}

/* Achiever Image Container CSS And Properties */
.achiever-image-container {
    width: 35%;
    height: 65vh;
    margin: 1em;
    /* padding: 2em; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3em;
}

.achiever-image-container img {
    border-radius: 0.3em;
    width: 95%;
    transition: 0.2s ease-in-out;
    /* Adjusting the size of the image */
}

/* .achiever-image-container img:hover {
   transform: scale(1.1);
} */

/* Achiever Content Container CSS And Properties */
.achiever-content-container {
    /* border: 1px solid yellowgreen; */
    height: 55vh;
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    background-color: #FAF4B7;
    color: #000;
    border-radius: 0.3em;
}

/* Name of Achiever container CSS */
.achiever-name-container {
    /* border: 1px solid red; */
    margin: 0.5em 0.5em 0 0.5em;
    font-size: 1.55em;
    font-weight: 400;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

/* Designation of Achiever container CSS */
.achiever-designation {
    /* border: 1px solid red; */
    font-size: 0.8em;
    margin: 0.5em;
    margin-top: 0;
    padding: 0 0.5em;
    font-weight: 350;
    letter-spacing: 0.5px;
}

/* Success Story of Achiever container CSS */
.achiever-story {
    /* border: 1px solid red; */
    margin: 0.5em;
    padding: 0.5em;
    letter-spacing: 0.5px;
    height: 60%;
    font-size: 1em;
    line-height: 1.4em;
}

/* More in Achivers */
/* Button and Connect link parent container CSS */
.achiever-more {
    display: flex;
    /* border: 1px solid red; */
    margin: 0 0.5em;
    justify-content: space-between;
}

/* Connection Link Container CSS */
.connect-to-achiever {
    /* border: 1px solid red; */
    padding: 0.5em;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000;
}

.connect-to-achiever a {
    text-decoration: none;
    display: inline-block;
    color: #000;
}

/* Connect on hover transition */
.connect-to-achiever a::after {
    /* border: 1px solid grey; */
    content: ' ';
    display: block;
    transform: scaleX(0);
    margin: 0.1em;
    border-bottom: 0.1em solid #000;
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
}

.connect-to-achiever a:hover::after {
    transform: scaleX(1);
}

.connect-to-achiever img {
    width: 1em;
    margin: 0.2em;
    margin-bottom: 0.5em;
}

/* REad More button Container CSS */
.readmore-achiever {
    /* border: 1px solid red; */
    padding: 0 0 0.2em 0;
}

.readmore-achiever button {
    width: fit-content;
    min-width: 100px;
    height: 3em;
    padding: 8px;
    border-radius: 0.3em;
    /* border: 0.2em solid #E0E1E4; */
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    /* font-family: 'Poppins', sans-serif; */
}

.readmore-achiever button:hover {
    background-color: #F2F2F2;
    box-shadow: 0px 0px 20px -18px;
}

.readmore-achiever button:active {
    transform: scale(0.95);
}