.outer-box{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    padding-top: 16vh;
    background-color: #B8E8FC;
  }
  
  .modal {
    width: 38em;
    margin: auto;
    background: #BCCEF8;
    border-radius: 1em;
    padding: 2em;
  }
  
  .image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .text{
    text-align: center;
    padding: 2em;
    color: black;
  }
  
  p{
    padding: .5em;
    font-weight: 500;
  }
  
  button {
    max-width: 20em;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: none;
    gap: 0.75rem;
    color: black;
    background-color: #FDFFBC;
    cursor: pointer;
    transition: all .6s ease;
    margin-right: .5em;
    margin-left: .5em;
  }
  
  button:hover {
    transform: scale(1.02);
    background-color: #FDD998;
    cursor: pointer;
  }
  
  .bottom-buttons {
    display: flex;
    margin: 1em 4.5em ;
  }
  
  
  