.single-practice-question-container{
    /* border: 1px solid fuchsia; */
    display: flex;
    height: 6.5vh;
    align-items: center;
    margin: 0.1em;
    border-bottom: 0.1em solid gray;
}

.single-practice-question-container a{
    text-decoration: none;
    color: #000;
}

.single-practice-question-container h3{
    color: #000;
}

.title-one1 {
    width: 60%;
    font-size: 1.2em;
    font-weight: 500;
    color: #000;
    /* border: 1px solid darkorange; */
}

.title-two2 {
    width: 19%;
    font-size: 1.1em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-three3 {
    width: 19%;
    font-size: 1.1em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tags Single */
.dynamic-topic-tags-container{
    background-color: #c9f4aa;
    border-radius: 0.4em;
    padding: 0.3em;
    margin: 0.3em;
}

.dynamic-topic-tags-container h6{
    cursor: pointer;
    font-size: 1em;
    font-weight: 400;
    color: #000;
}

/* Company Single */
.dynamic-companies{
    background-color: #c9f4aa;
    border-radius: 0.4em;
    padding: 0.3em;
    margin: 0.3em;
}

.dynamic-companies h6{
    cursor: pointer;
    font-size: 1em;
    font-weight: 400;
    color: #000;
}