.outer-box{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    padding-top: 16vh;
    background-color: #B8E8FC;
  }
  
  .modal {
    width: 30em;
    margin: auto;
    background: #BCCEF8;
    border-radius: 1em;
    padding: 2em;
  }

  .image {
    display: flex;
    margin: auto;
    background-color: #FEE2E2;
    justify-content: center;
    align-items: center;
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
  }
  
  .image svg {
    color: #DC2626;
    width: 3.5em;
    height: 3.5em;
  }

  .title {
    text-align: center;
    margin: 1em 4em;
    color: black;
    font-size: 1.5em;
    font-weight: 700;
  }
  
  .message {
    text-align: center;
    margin: 2em;
    color: black;
  }

  button {
    width: 20em;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: none;
    gap: 0.75rem;
    color: black;
    background-color: #FDFFBC;
    cursor: pointer;
    transition: all .6s ease;
    margin: 0.5em 1em;
  }

  .delete-button:hover{
    background-color: red;
  }

  button:hover {
    transform: scale(1.02);
    background-color: #FDD998;
    cursor: pointer;
  }

  .bottom-buttons{
    display: flex;
  }
  
  

  
  
  

  